.heroBanner {
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary);
  padding: 1rem 0 2rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroBanner h1 {
  font-size: 3.6rem;
}

.heroBanner h2 {
  color: var(--ifm-color-secondary);
  font-size: 2rem;
  margin-left: 2px;
}

.heroBanner p {
  font-size: 1.2rem;
  margin: 4px;
  max-width: 512px;
}

.heroBanner ul {
  margin: 4px;
  padding: 0;
}

.ctaButtonAbout {
  margin: 24px 4px 0;
}

.buttonAbout {
  margin: 24px 0 4px;
}

.about,
.features {
  align-items: center;
  display: flex;
  width: 100%;
}

.about {
  padding: 4.8rem 0;
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-secondary-darkest);
}

.about a {
  font-weight: bold;
}

.about p {
  max-width: 640px;
}

.features {
  padding: 2rem 0;
  background-color: var(--ifm-color-secondary-darkest);
}

.profilePic {
  text-align: right;
}

.profilePic img {
  border-radius: 5%;
  max-height: 196px;
  max-width: 196px;
}

.features {
  padding: 2rem 0;
  background-color: var(--ifm-color-secondary-darkest);
}

.featureImage {
  max-height: 384px;
  max-width: 384px;
}

.featureText {
  padding: 1rem;
}

.ctaButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0 1.8rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0;
  }

  .heroBanner h1 {
    font-size: 3.2rem;
  }

  .heroBanner h2 {
    font-size: 1.8rem;
  }

  .heroBanner p {
    font-size: 1rem;
  }

  .profilePic {
    margin: 4px 0 24px;
    text-align: center;
  }
}
