/* stylelint-disable docusaurus/copyright-header */

.heroBanner {
  align-items: flex-start;
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary-lightest);
  display: flex;
  overflow: hidden;
  padding: 4rem 0 2rem;
  position: relative;
  text-align: left;
}

.heroBannerName {
  font-size: 3.6rem;
}

.heroBanner h2 {
  font-size: 2rem;
  margin-left: 2px;
}

.heroBanner p {
  font-size: 1.2rem;
  margin: 4px;
  max-width: 512px;
}

.heroBanner ul {
  margin: 4px;
  padding: 0;
}

.heroBannerText {
  min-height: 1024px;
}

.heroBannerButton {
  margin: 0rem 0.6rem 0 4px;
}

.aboutHeader {
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary-lighter);
  padding: 3.6rem 0 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
}

.aboutHeader h2 {
  display: inline-block;
  padding-bottom: 6px;
}

.aboutBody,
.directoryBody {
  align-items: center;
  display: flex;
  padding: 3.6rem 0;
  width: 100%;
}

.aboutBody {
  background-color: var(--ifm-color-secondary-lightest);
  color: var(--ifm-color-secondary-darkest);
}

.aboutBody a {
  font-weight: bold;
}

.aboutBody p {
  max-width: 640px;
}

.aboutBodyButton {
  margin: 16px 0 0;
}

.directoryBody {
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary-lightest);
}

.directoryBody h3 {
  font-weight: normal;
}

.profilePic {
  text-align: right;
}

.profilePic img {
  border-radius: 5%;
  max-height: 196px;
  max-width: 196px;
}

.featureImage {
  max-height: 384px;
  max-width: 384px;
}

.featureText {
  padding: 1rem;
}

.ctaButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0;
  }

  .heroBanner h1 {
    font-size: 3.2rem;
  }

  .heroBanner h2 {
    font-size: 1.8rem;
  }

  .heroBanner p {
    font-size: 1rem;
  }

  .profilePic {
    margin: 4px 0 24px;
    text-align: center;
  }
}
