/* stylelint-disable docusaurus/copyright-header */

:global(.card__image) {
  height: 164px;
  overflow: hidden;
}

:global(.card__image) h2 {
  display: inline-block;
  margin: 12px;
}

.projectPageHeader {
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary-lighter);
  display: block;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  text-align: center;
}

.projectPageHeader h2 {
  display: inline-block;
  padding-bottom: 6px;
}

.projectBody {
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-secondary-lightest);
  padding: 3.6rem 0;
}

.projectCard {
  background-color: var(--ifm-color-secondary-darkest);
  border-radius: var(--ifm-pagination-nav-border-radius);
  color: var(--ifm-color-secondary-lightest);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.projectItem {
  margin: 0 auto;
  max-width: 512px;
  text-align: left;
}

.projectItem h1 {
  font-size: 2.4rem;
}

.projectItem h2 {
  font-size: 1rem;
  font-weight: normal;
}

.projectItem ul {
  list-style: none outside;
  margin: 0;
  padding: 8px;
  text-align: left;
}

.projectItem li {
  margin-bottom: 8px;
}

.projectItem svg {
  margin-right: 4px;
  max-width: 12px;
}

.projectItemButton {
  display: flex;
  margin: 0;
  justify-content: center;
  text-transform: uppercase;
}

.projectItemBackButton {
  margin: 1rem 0;
}

.directoryBody {
  align-items: center;
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-color-secondary-lightest);
  display: flex;
  padding: 3.6rem 0;
  width: 100%;
}

.directoryBody h3 {
  font-weight: normal;
}

@media screen and (max-width: 966px) {
  .projectItemBackButton {
    font-size: 1rem;
  }
}
