:global(.card__image) {
  height: 164px;
  overflow: hidden;
}

:global(.card__image) h2 {
  display: inline-block;
  margin: 12px;
}

.projectPageHeader {
  background: none;
  color: var(--ifm-color-secondary);
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
}

.projectPageHeader h1 {
  border-bottom: 4px solid var(--ifm-color-danger);
  display: inline-block;
  padding-bottom: 6px;
}

.projectCard {
  border: 1px solid var(--ifm-color-secondary-light);
  background-color: var(--ifm-navbar-background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: none;
  height: 100%;
}

.projectItem {
  margin: 0 auto;
  max-width: 512px;
  text-align: left;
}

.projectItem h1 {
  font-size: 2.4rem;
}

.projectItem h2 {
  font-size: 1rem;
  font-weight: normal;
}

.projectItem ul {
  list-style: none outside;
  margin: 0;
  padding: 8px;
  text-align: left;
}

.projectItem li {
  margin-bottom: 8px;
}

.projectItem svg {
  margin-right: 4px;
  max-width: 12px;
}

.projectItemButton {
  border-radius: 0%;
  display: flex;
  margin: 0;
  justify-content: center;
}

.projectItemBackButton {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}